body { 
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    grid-template-rows: 1fr 6fr 1fr;
}

.gridboard {
    grid-column: 2;
    grid-row: 2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    border: 5px solid black;
}

.carre {
    border: 1px solid gray;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    font-family: Roboto;
}

.texte {
    grid-column: 2 / 3;
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}